extends ./layout.jade

block titleBlock
  title= title

append cssBlock
  link(href='css/lineloader.css', rel='stylesheet')

block bodyBlock
  table(class='table table-bordered table-hover')
    thead
      tr
        th
          h3!= mainrep
        each rep, index in reps
          th
            h3!= rep
    tbody
      each mainfile in mainfiles
        tr
          th
            strong!= mainfile.name
              p(class='pull-right text-right')
                span(class='label label-primary')= mainfile.prettydate
                br
                span(class='label label-info')= mainfile.prettysize
          each rep in reps
            - var file = files.chain().find({'name': mainfile.name}).find({'repository': rep}).data();
            if file && file.length == 1
              - var f = file[0]
              if ( f.size == mainfile.size && f.date.isSame(mainfile.date) )
                td(class='text-success')
                  span(class='glyphicon glyphicon-thumbs-up')
              else
                td
                  div.containerCard(data-fid='#{f.id}' data-mfid='#{mainfile.id}')
                    div.frontCard
                      span(class='text-danger glyphicon glyphicon-thumbs-down') &nbsp;
                      button(type="button" class="btn btn-success btn-xs btnflip")
                        span(class="glyphicon glyphicon-transfer")
                      p(class='pull-right text-right')
                        if f.date.isSame(mainfile.date)
                          span(class='label label-success')= f.prettydate
                        else
                          span(class='label label-danger')= f.prettydate
                        br
                        if f.size == mainfile.size
                          span(class='label label-success')= f.prettysize
                        else
                          span(class='label label-danger')= f.prettysize
                    div.backCard
                      div.slider Sync in progress...
                        div.line
                          div(class='break dot1')
                          div(class='break dot2')
                              div(class='break dot3')
            else
              td(class='text-danger')
                span(class='glyphicon glyphicon-question-sign') &nbsp;
                | Missing


append scriptBlock
  script(src='js/TweenMax.min.js')
  script(src='js/TimelineMax.min.js')
  script(src='js/app.js')
