extends ./layout.jade

block titleBlock
  title= title

append cssBlock
  link(href='css/lineloader.css', rel='stylesheet')

block bodyBlock
  table(class='table table-bordered table-hover')
    thead
      tr
        th
          h3!= mainrep
        each rep, index in reps
          th
            h3!= rep
    tbody
      each mainfile in mainfiles
        tr
          th
            strong!= mainfile.name
              p(class='pull-right text-right')
                span(class='label label-primary')= mainfile.prettydate
                br
                span(class='label label-info')= mainfile.prettysize
          if mainfile.name in files
            - var file = files[mainfile.name]
            each rep in reps
              - var found = false
              each stat in file
                if rep == stat.repository
                  - found = true
                  if ( stat.size == mainfile.size && stat.date.isSame(mainfile.date) )
                    td(class='text-success')
                      span(class='glyphicon glyphicon-thumbs-up')
                  else
                    - var id = rep + '-' + stat.name;
                    td
                      div.containerCard
                        div.frontCard
                          span(class='text-danger glyphicon glyphicon-thumbs-down') &nbsp;
                          a.btnflip(href="#" data-toggle="tooltip" title="Aggiorna il file.")
                            span(class='text-success glyphicon glyphicon-transfer')
                          p(class='pull-right text-right')
                            if stat.date.isSame(mainfile.date)
                              span(class='label label-success')= stat.prettydate
                            else
                              span(class='label label-danger')= stat.prettydate
                            br
                            if stat.size == mainfile.size
                              span(class='label label-success')= stat.prettysize
                            else
                              span(class='label label-danger')= stat.prettysize
                        div.backCard
                          div.slider Sync in progress...
                            div.line
                              div(class='break dot1')
                              div(class='break dot2')
                              div(class='break dot3')
              if !found
                td(class='text-danger')
                  span(class='glyphicon glyphicon-question-sign') &nbsp;
                  | Missing
          else
            each rep in reps
              td(class='text-danger')
                span(class='glyphicon glyphicon-question-sign') &nbsp;
                | Missing

append scriptBlock
  script(src='js/TweenMax.min.js')
  script(src='js/TimelineMax.min.js')
  script(src='js/app.js')
